*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 226, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 60px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(79, 79, 200);
}

label{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

input{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: rgb(79,79,200);
}

button:hover{
    cursor: pointer;
    background-color:rgb(138,138,242);
}