h1{
    background-color: orange;
    height: 300px;
    width: 300px;

    /* border-width: 10px; */
    /* border-style: solid; */
    /* border-color: gray; */

    border: 10px solid green;

    /* padding: 10px; */
    /* margin: 30px; */

    /* padding-right: 10px; */
    /* padding: 10px 20px 30px 40px; */
    padding: 20px 40px;

    margin: 50px 20px 30px 40px;
    border-radius: 50px;
}


h2{
    background-color: pink;
    border: 2px solid blue;
    /* width: max-content; */
}

p{
    background-color: pink;
    border: 2px solid blue;
    padding: 20px;
    margin: 35px;
}
